* {
  margin: 0;
  padding: 0;
}

#body,#html {
  background-color: #191919;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.caixa-sucesso {
  border: 15px solid blue;
  color: white;
  border-radius: 7px;
  width: 50%;
  height: 65%;
  margin: 5% auto;
  z-index: 1;
}

.mensagem-titulo {
  margin-top: 10%;
  height: 30%;
  margin-left: -20%;
  z-index: 2;
  display: block;
  background-color: #191919;
  font-size: 3.4em;
  font-weight: 800;
}

.mensagem-paragrafo {
  padding: 50px;
  font-size: 1.8em;
  font-weight: 700;
}

@media (max-width: 575px)  { 
  .caixa-sucesso {
    margin-top: 25%;
    width: 70%;
    border: 10px solid blue;
  }

  .mensagem-titulo {
    font-size: 2.8em;
    margin-left: -18%;
    height: 40%;
  }
  .mensagem-paragrafo {
    margin-top: 20px;
    font-size: 1em;
    padding: 10px;
  }
  

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px){ 
  .caixa-sucesso {
    margin-top: 15%;
    width: 80%;
    border: 10px solid blue;
  }

  .mensagem-titulo {
    text-align: center;
    background-color: transparent;
    font-size: 2.5em;
    margin-left: 0;
    height: 40%;
  }
  .mensagem-paragrafo {
    margin-top: 20px;
    font-size: 1.7em;
    padding: 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .caixa-sucesso {
    margin-top: 10%;
  }
  .mensagem-titulo {
    height: 46%;
  }
  .mensagem-paragrafo {
    margin-top: 15px;
    padding: 15px;
    font-size: 1.4em;
  }
  
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .caixa-sucesso {
    margin-top: 10%;
  }
  .mensagem-titulo {
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin: 0;
  }

  .mensagem-paragrafo {
    margin-top: 20%;
    padding: 15px;
    font-size: 1.3em;
  }
}

